<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <div class="top-menu-container">
      <div class="top-nav-left">
        <div class="hamburger-menu">
          <img src="images/outline-menu-24px.svg">
        </div>
        <div class="keep-link">
          <img src="images/keep_48dp.png">
          <div>Keep</div>

        </div>
      </div>
      <div class="search-container">
        <div class="searchbar-top">
            <img class="search-icon" src="images/baseline-search-24px.svg">
            <div class="search-input">Search</div>
            <img class="search-close" src="images/baseline-close-24px.svg">
        </div>
        <div class="top-icons">
          <img src="images/outline-refresh-24px.svg">
          <img src="images/outline-view_agenda-24px.svg">
          <img src="images/settings_24px.svg">
        </div>
      </div>
      <div class="user-menu-group">
        <img src="images/outline-apps-24px.svg">
        <img src="images/baseline-notifications_none-24px.svg">
        <div class="user-icon"><div class="user">M</div></div>
      </div>
    </div>
