<% include header %>
<body>
  <div class="note" contenteditable="true" aria-multiline="true" aria-label="Note" dir="ltr">Note 1<button>Save</button>
    <input class="submit" id="submit" type="submit" name="Submit" value="Submit"></div>
    <script src="scripts/post.js"></script>
  </body>
</html>
